
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  overflow-x:hidden;
}

#bg-video{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-2;
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  z-index:-1;
}

header{
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 60px;

  position:fixed;

  background:rgba(0,0,0,0.3);

  backdrop-filter:blur(10px);

  z-index:1000;
}

header h1{
  font-size:32px;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
  padding: 12px;
  border-radius: 8px;
}

nav a:hover{
  color:#ffffff;
  background: #00d9ff;
}

.hero{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:100px 20px;
}

.hero-text{
  max-width:700px;
}

.hero h2{
  font-size:70px;
  margin-bottom:20px;
}

.hero p{
  font-size:22px;
  line-height:1.6;
  margin-bottom:35px;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.btn{
  padding:15px 35px;

  background:#00d9ff;
  color:black;

  text-decoration:none;

  border-radius:40px;

  font-weight:bold;

  transition:0.3s;
}

.btn:hover{
  transform:scale(1.1);
  background:white;
}

.info{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  gap:30px;

  flex-wrap:wrap;

  padding:100px 40px;

  background:rgba(0,0,0,0.6);
}

.box{
  width:320px;

  background:rgba(255,255,255,0.1);

  padding:40px;

  border-radius:20px;

  backdrop-filter:blur(8px);

  transition:0.3s;
}

.box:hover{
  transform:translateY(-10px);
}

.box h3{
  margin-bottom:20px;
  font-size:28px;
}

.games-page{
  background:linear-gradient(135deg,#141e30,#243b55);
}

.games{
  padding:140px 40px 80px;

  display:flex;
  justify-content:center;
  align-items:center;

  flex-wrap:wrap;

  gap:30px;
}

.game-card{
  width:350px;

  background:rgba(255,255,255,0.08);

  border-radius:20px;

  overflow:hidden;

  backdrop-filter:blur(8px);

  transition:0.3s;
}

.game-card:hover{
  transform:translateY(-10px);
}

.game-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.game-card h2{
  padding:20px 20px 10px;
}

.game-card p{
  padding:0 20px 25px;
}

.draw-page{
  background:linear-gradient(135deg,#232526,#414345);
}

.drawings{
  padding:140px 40px 80px;

  display:flex;
  justify-content:center;
  align-items:center;

  gap:30px;

  flex-wrap:wrap;
}

.drawing-card{
  width:350px;

  background:rgba(255,255,255,0.08);

  border-radius:20px;

  overflow:hidden;

  transition:0.3s;
}

.drawing-card:hover{
  transform:scale(1.03);
}

.drawing-card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.drawing-card h2{
  padding:20px;
  text-align:center;
}


footer{
  text-align:center;
  padding:25px;
  background:rgba(0,0,0,0.4);
}

.games-info{
  min-height:70vh;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:80px 40px;
}

.info-text{
  max-width:900px;

  background:rgba(255,255,255,0.08);

  padding:50px;

  border-radius:20px;

  backdrop-filter:blur(8px);

  margin:auto;
}

.info-text h2{
  font-size:50px;
  margin-bottom:25px;
}

.info-text p{
  font-size:22px;
  line-height:1.8;
}

.extra-section{
  min-height:100vh;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:100px 40px;
}

.extra-section h2{
  font-size:55px;
  margin-bottom:60px;
}

.extra-boxes{
  display:flex;
  justify-content:center;
  align-items:center;

  gap:30px;

  flex-wrap:wrap;

  margin-bottom:60px;
}

.extra-box{
  width:320px;

  background:rgba(255,255,255,0.08);

  padding:40px;

  border-radius:20px;

  backdrop-filter:blur(8px);

  transition:0.3s;

  text-align:center;
}

.extra-box:hover{
  transform:translateY(-10px);
}

.extra-box h3{
  font-size:30px;
  margin-bottom:20px;
}

.extra-box p{
  line-height:1.7;
  font-size:18px;
}

.draw-top{
  min-height:70vh;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:120px 30px 60px;
}

.draw-top-text{
  max-width:800px;
}

.draw-top h2{
  font-size:70px;
  margin-bottom:25px;
}

.draw-top p{
  font-size:22px;
  line-height:1.8;
}

.draw-info{
  min-height:70vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:80px 30px;
}

.draw-info-box{
  max-width:900px;

  text-align:center;

  background:rgba(255,255,255,0.08);

  padding:60px;

  border-radius:25px;

  backdrop-filter:blur(8px);
}

.draw-info-box h2{
  font-size:55px;
  margin-bottom:30px;
}

.final-draw h2{
  align-items: center;
  text-align: center;
  margin-bottom: 10px;

}
.final-draw p{
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
